{% for office in ticket_offices %}
<tr data-table="TicketOffice" data-pk="{{ office.ticket_office_id }}">
    <td data-field="ticket_office_id" style="display: none;">{{ office.ticket_office_id }}</td>
    <td data-field="place">{{ office.place }}</td>
    <td>
        <a class="table-button view" href="{{ url_for('get_ticket_office', pk=office.ticket_office_id) }}">Подробнее</a>
        <button class="table-button delete" onclick="deleteItem('ticket_offices', '{{ office.ticket_office_id }}')">Удалить</button>
    </td>
</tr>
{% endfor %}