{% extends 'base.html' %}

{% block title %}О нас{% endblock %}

{% block content %}
<h1>О нас</h1>
<div class="about-content">
    <p>Добро пожаловать в наше веб-приложение для управления железной дорогой! Это приложение служит тренажером для изучения SQL уязвимостей и понимания того, как их устранять.</p>
    <p>Наша платформа предоставляет симуляцию системы управления железной дорогой, позволяя пользователям взаимодействовать с базой данных и выполнять различные операции. Используя этот инструмент, вы можете узнать о распространенных техниках SQL-инъекций.</p>
    <p>Будь вы разработчик, специалист по безопасности или студент, наше приложение предлагает практический опыт для улучшения ваших навыков в области безопасности баз данных. Исследуйте различные сценарии, проверяйте свои знания и улучшайте способность выявлять и предотвращать SQL уязвимости.</p>
    <p>Присоединяйтесь к нам в этом путешествии, чтобы сделать цифровой мир более безопасным местом!</p>
</div>
<div class="back-button">
    <a href="{{ url_for('index') }}">Назад</a>
</div>
{% endblock %}
