{% extends 'base.html' %}

{% block title %}Подробнее о покупателе{% endblock %}

{% block content %}
<h1>Подробнее о покупателе</h1>
    <p><strong>ID покупателя:</strong> {{ customer.customer_id }}</p>
    <p><strong>Имя:</strong> {{ customer.name }}</p>
    <p><strong>Фамилия:</strong> {{ customer.surname }}</p>
    <p><strong>Телефон:</strong> {{ customer.phone }}</p>
    <p><strong>Email:</strong> {{ customer.email }}</p>
<a class="table-button view" href="{{ url_for('get_customers') }}">Вернуться к покупателям</a>
{% endblock %}