{% extends 'base.html' %}

{% block title %}Направления{% endblock %}

{% block content %}
<h1>Направления</h1>
<div class="table-container" data-table="Direction">
<table data-table="Direction">
    <thead>
        <tr>
            <th style="display: none;" data-field="direction_id">ID направления</th>
            <th data-field="start">Старт</th>
            <th data-field="finish">Финиш</th>
            <th data-field="time">Время в пути</th>
            <th data-field="distance">Расстояние</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for direction in directions %}
        <tr data-table="Direction" data-pk="{{ direction.direction_id }}">
            <td data-field="direction_id" style="display: none;">{{ direction.direction_id }}</td>
            <td data-field="start">{{ direction.start }}</td>
            <td data-field="finish">{{ direction.finish }}</td>
            <td data-field="time">{{ direction.time }}</td>
            <td data-field="distance">{{ direction.distance }}</td>
            <td>
                <a class="table-button view" href="{{ url_for('get_direction', pk=direction.direction_id) }}">Подробнее</a>
                <button class="table-button delete" onclick="deleteItem('directions', '{{ direction.direction_id }}')">Удалить</button>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<button id="createButton" class="table-button create">Создать</button>
</div>
{% endblock %}
