{% extends 'base.html' %}

{% block title %}Поезда{% endblock %}

{% block content %}
<h1>Поезда</h1>
<div class="table-container" data-table="Train">
<table data-table="Train">
    <thead>
        <tr>
            <th style="display: none;" data-field="train_id">ID поезда</th>
            <th data-field="train_type">Тип поезда</th>
            <th data-field="rate">Оценка</th>
            <th data-field="direction">Направление</th>
            <th>Действия</th>
        </tr>
    </thead>
    <tbody>
        {% for train in trains %}
        <tr data-table="Train" data-pk="{{ train.train_id }}">
            <td data-field="train_id" style="display: none;">{{ train.train_id }}</td>
            <td data-field="train_type">{{ train.train_type }}</td>
            <td data-field="rate">{{ train.rate }}</td>
            <td data-field="direction">{{ train.direction }}</td>
            <td>
                <a class="table-button view" href="{{ url_for('get_train', pk=train.train_id) }}">Подробнее</a>
                <button class="table-button delete" onclick="deleteItem('trains', '{{ train.train_id }}')">Удалить</button>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<button id="createButton" class="table-button create">Создать</button>
</div>
{% endblock %}
